<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns="">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>

<table>
    <tr>
        <th>ID</th>
        <th>MODEL</th>
        <th>YEAR</th>
    </tr>
<th:block th:each="car : ${cars}">
    <tr>
        <td th:text="${car.getId()}"></td>
        <td th:text="${car.getModel()}"></td>
        <td th:text="${car.getYear()}"></td>
    </tr>
</th:block>
</table>

</body>
</html>